
body::-webkit-scrollbar {
    display: none;
}
body {
    position: relative;
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    height: 4000px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
