
body::-webkit-scrollbar {
    display: none;
}

*, html {
margin: 0;
padding: 0; 
    }   

html {
margin: 0;
padding: 0; 
min-height: 100%;
border: 1px solid red;
    }   


body {
    margin: 121px 0 0 0;
    padding: 0;
    min-height: 100%;
    border: 3px solid blue;
    -ms-overflow-style: none;
}
